beautifulsoup4==4.12.3
Brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1725267563793/work
build @ file:///home/conda/feedstock_root/build_artifacts/python-build_1728263384570/work
CacheControl @ file:///home/conda/feedstock_root/build_artifacts/cachecontrol-split_1730805028284/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1725278078093/work/certifi
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1725560578465/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1728479282467/work
cleo @ file:///home/conda/feedstock_root/build_artifacts/cleo_1698693584261/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1692311806742/work
click-default-group @ file:///home/conda/feedstock_root/build_artifacts/click-default-group_1691239292067/work
cloup @ file:///home/conda/feedstock_root/build_artifacts/cloup_1709560247175/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
contourpy==1.3.1
crashtest @ file:///home/conda/feedstock_root/build_artifacts/crashtest_1667467006729/work
cycler==0.12.1
Cython @ file:///Users/runner/miniforge3/conda-bld/cython_1725378941081/work
decorator==4.4.2
distlib @ file:///home/conda/feedstock_root/build_artifacts/distlib_1728557174656/work
dulwich @ file:///Users/runner/miniforge3/conda-bld/dulwich_1728583286972/work
fastjsonschema @ file:///home/conda/feedstock_root/build_artifacts/python-fastjsonschema_1718477020893/work/dist
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1726613473834/work
fonttools==4.55.0
frozendict==2.4.6
future @ file:///home/conda/feedstock_root/build_artifacts/future_1708610096684/work
glcontext @ file:///Users/runner/miniforge3/conda-bld/glcontext_1725374189298/work
gTTS==2.5.4
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1634280454336/work
hpack==4.0.0
html5lib==1.1
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1619110129307/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1726459485162/work
imageio==2.36.0
imageio-ffmpeg==0.5.1
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1726082825846/work
importlib_resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1725921340658/work
iniconfig==2.0.0
installer @ file:///home/conda/feedstock_root/build_artifacts/python-installer_1679300325491/work
isosurfaces @ file:///home/conda/feedstock_root/build_artifacts/isosurfaces_1709087510374/work
jaraco.classes @ file:///home/conda/feedstock_root/build_artifacts/jaraco.classes_1713939306738/work
keyring @ file:///Users/runner/miniforge3/conda-bld/keyring_1728574836527/work
kiwisolver==1.4.7
lxml==5.3.0
manim @ file:///home/conda/feedstock_root/build_artifacts/manim_1714385482207/work
ManimPango @ file:///Users/runner/miniforge3/conda-bld/manimpango_1726487346469/work
mapbox_earcut @ file:///Users/runner/miniforge3/conda-bld/mapbox_earcut_1721669870853/work
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1686175045316/work
matplotlib==3.9.2
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1704317613764/work
moderngl @ file:///Users/runner/miniforge3/conda-bld/moderngl_1727269710879/work
moderngl-window @ file:///home/conda/feedstock_root/build_artifacts/moderngl-window_1640877011710/work
more-itertools @ file:///home/conda/feedstock_root/build_artifacts/more-itertools_1725630081114/work
moviepy==1.0.3
msgpack @ file:///Users/runner/miniforge3/conda-bld/msgpack-python_1725975043881/work
multipledispatch @ file:///home/conda/feedstock_root/build_artifacts/multipledispatch_1721907546485/work
multitasking==0.0.11
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1730311477129/work
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1707225421156/work/dist/numpy-1.26.4-cp312-cp312-macosx_11_0_arm64.whl#sha256=011d57633d659db8280a5811d62d0c5a615719a6d7cbd46a04f6ffce0c2a7db3
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1718189413536/work
pandas==2.2.3
pandas_ta==0.3.14b0
peewee==3.17.8
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1706113125309/work
pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1729065665052/work
pkginfo @ file:///home/conda/feedstock_root/build_artifacts/pkginfo_1728616516923/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1726613481435/work
pluggy==1.5.0
poetry @ file:///Users/runner/miniforge3/conda-bld/poetry_1728951545926/work
poetry-core @ file:///home/conda/feedstock_root/build_artifacts/poetry-core_1728873002994/work
poetry-plugin-export @ file:///home/conda/feedstock_root/build_artifacts/poetry-plugin-export_1715458131259/work
proglog==0.1.10
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pycairo==1.27.0
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1711811537435/work
pydub @ file:///home/conda/feedstock_root/build_artifacts/pydub_1615612442567/work
pyglet @ file:///Users/runner/miniforge3/conda-bld/pyglet_1695497633214/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1714846767233/work
pyobjc-core @ file:///Users/runner/miniforge3/conda-bld/pyobjc-core_1725739287208/work
pyobjc-framework-Cocoa @ file:///Users/runner/miniforge3/conda-bld/pyobjc-framework-cocoa_1725874991280/work
pyparsing==3.2.0
pyproject_hooks @ file:///home/conda/feedstock_root/build_artifacts/pyproject_hooks_1727644064167/work
pyrr==0.10.3
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
pytest==8.3.3
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
PyYAML @ file:///Users/runner/miniforge3/conda-bld/pyyaml_1725456234629/work
RapidFuzz @ file:///Users/runner/miniforge3/conda-bld/rapidfuzz_1729816106132/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1717057054362/work
requests-toolbelt @ file:///home/conda/feedstock_root/build_artifacts/requests-toolbelt_1682953341151/work
rich @ file:///home/conda/feedstock_root/build_artifacts/rich_1730592237829/work/dist
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy-split_1729480742345/work/dist/scipy-1.14.1-cp312-cp312-macosx_11_0_arm64.whl#sha256=d38c68856d227cbb9119bd55c4f0afceb419310540185f955901b0a1ecaff0b3
screeninfo @ file:///Users/runner/miniforge3/conda-bld/screeninfo_1715463947294/work
setuptools==75.1.0
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1698144360966/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
skia-pathops @ file:///Users/runner/miniforge3/conda-bld/skia-pathops_1729320251945/work
soupsieve==2.6
srt @ file:///Users/runner/miniforge3/conda-bld/srt_1695880389941/work
svgelements @ file:///home/conda/feedstock_root/build_artifacts/svgelements_1692252260255/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1727974628237/work
tomlkit @ file:///home/conda/feedstock_root/build_artifacts/tomlkit_1723631480657/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1730926118411/work
trove-classifiers @ file:///home/conda/feedstock_root/build_artifacts/trove-classifiers_1729551937995/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1717802530399/work
tzdata==2024.2
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1726496430923/work
virtualenv @ file:///home/conda/feedstock_root/build_artifacts/virtualenv_1730204812392/work
watchdog @ file:///Users/runner/miniforge3/conda-bld/watchdog_1730492951101/work
webencodings==0.5.1
wheel==0.44.0
xattr @ file:///Users/runner/miniforge3/conda-bld/xattr_1728410235808/work
yfinance==0.2.49
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1731262100163/work
zstandard==0.23.0
